@import url(http://fonts.googleapis.com/css?family=Signika:600,700);
@import url(http://fonts.googleapis.com/css?family=Lora:700);

// Fonts: Lato Bold (h1-h3), Lato Regular (header p), Lato Light (content p),  

/* clearfix placeholder selector: not complied to CSS unless used with @extend %clearfix; */
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Vars
$vpadding: 100;
$hpadding: 100;
$fontsizeL: 48;
$fontsizeM: 32;
$fontsizeS: 24;
$fontsizeP: 16;

// base styles

$darkgray: #3c3c3c;
$white: #fff;

$font-bold: "Signika", Helvetica, Arial, sans-serif;
$font-regular: "Signika", Helvetica, Arial, sans-serif;
$font-light: "Signika", Helvetica, Arial, sans-serif;

.animate{
	-webkit-transition: -webkit-transform 0.4s ease, color 0.4s ease, background-color 0.4s ease, height 0.4s ease;
	-moz-transition: -moz-transform 0.4s ease, color 0.4s ease, background-color 0.4s ease, height 0.4s ease;
	-o-transition: -o-transform 0.4s ease, color 0.4s ease, background-color 0.4s ease, height 0.4s ease;
	transition: transform 0.4s ease, color 0.4s ease, background-color 0.4s ease, height 0.4s ease;
}

body {
	color: $darkgray;
	line-height: 1.5;
}

section{
	width: 100%; 
	margin: 0 auto;
	padding: $vpadding 0; 
}

h1{
	font-family: $font-bold;
	font-size: ($fontsizeL) + px;
	padding-bottom: 50px; 
	text-transform: uppercase;
}

h2{
	font-family: $font-bold;
	font-size: ($fontsizeM) + px;
	margin-top: (-$fontsizeM / 2) + px; 
	text-transform: uppercase;
}

h3{
	font-family: $font-bold;
	font-size: ($fontsizeS) + px;
	padding-bottom: 20px; 
	text-transform: uppercase;
}

p{
	font-family: $font-light;
	font-size: ($fontsizeP) + px;
	padding-bottom: 20px; 
}

button{
	font-family: $font-bold;
	font-size: ($fontsizeP) + px;
	padding: 20px; 
	text-transform: uppercase;
	background-color: $darkgray;
	color: $white; 
}

form{

	font-family: $font-light;
	font-size: ($fontsizeP) + px;
	padding-bottom: 20px;

	input{
		border: none;
	}

	textarea{
		border: none;
	}
}

.container{
	width: 100%; 
}

.content{
	border: 1px solid $darkgray;
	width: 60%; 
	margin: 0 auto; 
    padding: 15px;
    -webkit-border-image: url(images/content-border.jpg) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(images/content-border.jpg) 30 stretch; /* Opera 11-12.1 */
    border-image: url(images/content-border.jpg) 30 stretch;
}

.imgbg{

}

.whitebg{
	
}

.header{
	background-image: url(images/headerbg.jpg);
}

.services{
	background-image: url(images/servicesbg.jpg);
}

.header-content{
	
}

.header-logo{
	
}

.header-text{
	
}

.header-icon{
	
}

.about-special-formatting{
	
}

.inner-content{
	
}

.icon{
	
}

.inner-text{
	
}

.edge-item{
	
}

.center-item{
	
}

.topworkz{
	
}

.joint{
	
}

.market{
	
}

.worktop{
	
}

.label{
	
}

.kyiv{
	
}

#form-messages{
	display: none;
}

.contact-form{
	display: none;
}

#submit{
	
}

.footer{

	p{
		
	}
}



@media (min-width: 300px) {
	
}

@media (min-width: 600px) {
	
}

@media (min-width: 1200px) {
	
}






